tags-input .tags {
    background-image: url("../img/search.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 4px;
    padding-left: 30px;
}

.deputy-info tr {
    vertical-align: top;
}

.deputy-info td {
    padding-top: 5px;
}

.deputy-info td:first-child {
    padding-right: 5px;
}

.deputy-info .glyphicon {
    opacity: 0.5;
}

.deputy-party {
    cursor: pointer;
    display: block;
    margin: 5px auto 0;
    max-height: 35px;
    max-width: 100px;
    opacity: 0.5;
}

.deputy-party:hover {
    opacity: 1;
}

.deputy-tag.label {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

.search-stats-desc {
    max-width: 250px;
}

.search-stats-desc blockquote {
    font-size: 14px;
    margin: 0;
    padding: 10px 0 10px 20px;
}
