[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

[class^="img-deputy-"],
[class*=" img-deputy-"] {
    border-radius: 4px;
    box-shadow: 1px 1px 1px #999;
}

.deputy-info a {
    color: rgb(102, 102, 102);
}

.deputy-info tr {
    vertical-align: top;
}

.deputy-info td {
    padding: 5px 0;
}

.deputy-info td:first-child {
    padding-right: 5px;
}

.deputy-info .glyphicon {
    opacity: 0.5;
}

.deputy-party {
    cursor: pointer;
    display: block;
    margin: 5px auto 0;
    max-height: 35px;
    max-width: 100px;
}

.deputy-tag {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    width: 100px;
}

.deputy-tag-about {
    visibility: hidden;
}

.deputy-row:hover .deputy-tag-about {
    visibility: visible;
}

.fading {
    opacity: 0.5;
}

.fading:hover {
    opacity: 1;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.progress {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: auto;
}

.progress-text-centered {
    position: relative;
}

.progress-text-centered span {
    color: #fff;
    display: block;
    margin-top: -1px;
    position: absolute;
    text-shadow: 0px 0px 3px #000;
    text-transform: uppercase;
    width: 100%;
 }

.progress-title {
    color: #bbbbbb;
    display: block;
    font-size: 80%;
    margin-top: -18px;
    text-align: right;
 }

.progress-title:before {
     content: '\2014 \00A0';
 }

.progress-bar {
    overflow: hidden;
}

.progress-bar:last-child {
    border-radius: 0;
}


.searchbar--sticky {
    position: fixed;
    left: 0;
    background: #ffffff;
    top: 0;
    margin-left: 0;
    width: 100%;
    z-index: 14;
}

.searchbar--sticky .host {
    margin-bottom: 0;
}

.searchbar--sticky .table {
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 4px #999;
    width: 750px;
    margin: 0 auto;
    left: -195px;
    position: relative;
}

.searchbar--sticky .table tr:last-child,
.searchbar--sticky .table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

.searchbar--sticky .table tr:last-child,
.searchbar--sticky .table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

.table-no-border th, .table-no-border td {
    border-top: none !important;
}

tags-input .tags {
    background-image: url("../img/icon/search.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 4px;
    padding-left: 30px;
}

tags-input .tags .input {
    box-shadow: none;
}

tags-input .tags .tag-item {
    color: #ffffff;
    background: #2196f3;
    border-color: transparent;
}

tags-input .tags .tag-item .remove-button {
    color: #ffffff;
}
