.deputy-info tr {
    vertical-align: top;
}

.deputy-info td {
    padding-top: 5px;
}

.deputy-info td:first-child {
    padding-right: 5px;
}

.deputy-info .glyphicon {
    opacity: 0.5;
}

.deputy-tag.label {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}