[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

[class^="img-deputy-"],
[class*=" img-deputy-"] {
    border-radius: 4px;
    box-shadow: 1px 1px 1px #999;
}

.deputy-info {
    margin: 0;
}

.deputy-info a {
    color: rgb(102, 102, 102);
}

.deputy-info tr {
    vertical-align: middle;
}

.deputy-info td {
    padding: 5px;
}

.deputy-info td:first-child {
    padding-right: 5px;
}

.deputy-info .glyphicon {
    opacity: 0.5;
}

.deputy-item {
    margin: 0 0 30px 0;
}

.deputy-item__law-tag {

    max-width: 200px;
}

.deputy-item__law-tag:hover .deputy-item__law-tag__name.hide {
    display: block !important;
}

.deputy-item__law-tag .progress,
.deputy-item__law-tag__about {
    visibility: hidden;
}

.deputy-item__law-tag:hover .progress,
.deputy-item__law-tag:hover .deputy-item__law-tag__about {
    visibility: visible;
}

.deputy-item__photo {
    text-align: center;
    vertical-align: top;
    width: 130px;
}

.deputy-party {
    cursor: pointer;
    display: block;
    margin: 5px auto 0;
    max-height: 35px;
    max-width: 100px;
}

.deputy-tag {
    display: block;
    margin-bottom: 10px;
}

.fading {
    opacity: 0.5;
}

.fading:hover {
    opacity: 1;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.progress {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 3px;
    z-index: auto;
}

.progress-text-centered {
    position: relative;
}

.progress-text-centered span {
    color: #fff;
    display: block;
    margin-top: -1px;
    position: absolute;
    text-shadow: 0px 0px 3px #000;
    text-transform: uppercase;
    width: 100%;
 }

.progress-title {
    color: #bbbbbb;
    display: block;
    font-size: 80%;
    margin-top: -18px;
    text-align: right;
 }

.progress-title:before {
     content: '\2014 \00A0';
 }

.progress-bar {
    overflow: hidden;
}

.progress-bar:last-child {
    border-radius: 0;
}


.searchbar--sticky {
    position: fixed;
    left: 0;
    background: #ffffff;
    top: 0;
    margin-left: 0;
    width: 100%;
    z-index: 14;
}

.searchbar--sticky .host {
    margin-bottom: 0;
}

.searchbar--sticky .table {
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 4px #999;
    width: 750px;
    margin: 0 auto;
    left: -195px;
    position: relative;
}

.searchbar--sticky .table tr:last-child,
.searchbar--sticky .table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

.searchbar--sticky .table tr:last-child,
.searchbar--sticky .table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

.table-no-border th, .table-no-border td {
    border-top: none !important;
}

tags-input .tags {
    background-image: url("../img/icon/search.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 4px;
    padding-left: 30px;
}

tags-input .tags .input {
    box-shadow: none;
}

tags-input .tags .tag-item {
    color: #ffffff;
    background: #2196f3;
    border-color: transparent;
}

tags-input .tags .tag-item .remove-button {
    color: #ffffff;
}


















.charts-container:after {
  clear: both;
  content: "";
  display: table;
}
.pie-wrapper {
  height: 70px;
  width: 70px;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 70px, 70px, 35px);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 7px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 35px, 70px, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 28px;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 17.5px;
  left: 28px;
  line-height: 182px;
  position: absolute;
  right: 28px;
  text-align: center;
  top: 28px;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 7px solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
      -ms-transform: rotate(108deg);
          transform: rotate(108deg);
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
      -ms-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
      -ms-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
      -ms-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
      -ms-transform: rotate(342deg);
          transform: rotate(342deg);
}
.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  -webkit-transform: rotate(126deg);
      -ms-transform: rotate(126deg);
          transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  -webkit-transform: rotate(43.2deg);
      -ms-transform: rotate(43.2deg);
          transform: rotate(43.2deg);
}
