<html>
    <head>
        <meta charset="utf-8" />
        <meta property="og:url" content="http://vvkp.in.ua/" />
        <meta property="og:image" content="http://vvkp.in.ua/img/rada.jpg" />
        <meta property="og:title" content="Всеукраїнський Вебсайт Контролю Політиків" />
        <meta property="og:description" content="Мета проекту - візуалізація діяльності народних депутатів і політичних партій по найбільш знакових та резонансних законах. Це неодмінно допоможе кожному з нас в очищенні влади на чергових виборах." />
        <title>Всеукраїнський Вебсайт Контролю Політиків</title>
        <link rel="shortcut icon" href="img/icon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.css"/>
        <script type="text/javascript">
            if (['dev.vvkp.in.ua', 'vvkp.in.ua', 'zrada.today', 'peremoga.today'].indexOf(document.domain) !== -1) {
                MIN = '.min';
            } else {
                MIN = '';
            }
            function headAppendScript(src, attrs) {
                var head = document.getElementsByTagName('head')[0];
                var js = document.createElement('script');
                js.type = 'text/javascript';
                if (src.indexOf('://') !== -1) {
                    js.src = src;
                } else {
                    js.src = src.replace('.js', MIN + '.js') + '?vvkp-version-1.7.2';
                }
                if (typeof attrs === 'object') {
                    for (var attrName in attrs) {
                        js[attrName] = attrs[attrName];
                    };
                }
                head.appendChild(js);
            }
            function headAppendStyle(href) {
                var head = document.getElementsByTagName('head')[0];
                var link = document.createElement('link');
                link.rel = 'stylesheet';
                if (href.indexOf('://') !== -1) {
                    link.href = href;
                } else {
                    link.href = href.replace('.css', MIN + '.css') + '?vvkp-version-1.7.2';
                }
                head.appendChild(link);
            }
            headAppendStyle('css/bootstrap-theme-paper.css');
            headAppendStyle('css/styles.css');
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>
    </head>
    <body ng-controller="deputiesListCtrl">
        <div class="container">
            <div class="row" style="height: 285px;">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align: center;">
                    <div class="fb-page" data-href="https://www.facebook.com/vvkp.in.ua" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/vvkp.in.ua"><a href="https://www.facebook.com/vvkp.in.ua">VVKP</a></blockquote></div></div>
                    <br><br>
                    <a class="github-button" href="https://github.com/uaoleg/vvkp.in.ua" data-style="mega" data-count-href="/uaoleg/vvkp.in.ua/stargazers" data-count-api="/repos/uaoleg/vvkp.in.ua#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star uaoleg/vvkp.in.ua on GitHub">Star</a>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table ng-cloak class="table table-striped">
                        <thead>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <tags-input on-tag-added="searchReloadResults()"
                                                    on-tag-removed="searchReloadResults()"
                                                    replace-spaces-with-dashes="false"
                                                    add-on-comma="false"
                                                    display-property="name"
                                                    key-property="name"
                                                    ng-model="searchTags"
                                                    placeholder="Партія, Округ, Тег або Прізвище">
                                            <auto-complete
                                                source="searchLoadSuggestions($query)"
                                                min-length="0"
                                                load-on-focus="false"
                                                load-on-empty="false"
                                                select-first-match="true"
                                                max-results-to-show="100"
                                                template="template/search/suggestions.html?vvkp-version-1.7.2"></auto-complete>
                                        </tags-input>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b style="display: inline-block; height: 28px; vertical-align: middle;">
                                        Знайдено депутатів: {{searchedDeputies.length}}
                                    </b>
                                    <button ng-if="searchStats.parties.length || searchStats.lawTags.length"
                                            popover-template="'template/search/stats.html?vvkp-version-1.7.4'"
                                            popover-placement="bottom"
                                            popover-trigger="click"
                                            class="btn btn-default btn-xs"
                                            style="margin-left: 10px;"
                                    >
                                        <span class="glyphicon glyphicon-stats"></span>
                                        <b>Статистика</b>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="{{searchedDeputiesFiltering ? 'opacity: 0.5' : ''}}">
                        <div ng-repeat-start="deputy in searchedDeputies | filter:searchText | limitTo:searchedDeputiesLimit"
                             ng-init="showPhones = 0"
                             class="col-lg-4 col-md-6 col-sm-6 col-xs-12 deputy-item">
                            <div ng-include src="'template/deputy/item.html?vvkp-version-1.7.2'"></div>
                        </div>
                        <div ng-repeat-end>
                            <div ng-if="$index % 3 == 2" class="clearfix visible-lg"></div>
                            <div ng-if="$index % 2 == 1" class="clearfix visible-md"></div>
                            <div ng-if="$index % 2 == 1" class="clearfix visible-sm"></div>
                        </div>
                    </div>
                    <div ng-show="searchedDeputiesFiltering || searchedDeputiesIncreasingLimit" style="text-align: center;">
                        <img src="img/loading.gif">
                    </div>
                    <br>
                    <hr>
                    <br>
                    <h3 style="background-image: url(img/logo.png); line-height: 60px; margin: 0; text-align: center;">
                        <a href="https://www.youtube.com/watch?v=1CLBANCVHTw" target="_blank" style="color: white; font-size: 42px; text-shadow: 2px 2px 4px black;">VVKP :-)</a>
                    </h3>
                </div>
            </div>
        </div>

        <div id="fb-root"></div>

        <script type="text/javascript">
            headAppendScript('js/app.js');
            headAppendScript('js/extend.js');
        </script>

    </body>
</html>