<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="img/icon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
        <script defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
        <script src="tools/js/pako.min.js"></script>
        <title>Всеукраїнський Вебсайт Контролю Політиків</title>
    </head>
    <body ng-app="vvkp-app" ng-controller="deputiesListCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 style="text-align: center;">Універсальний передвиборчий каталог депутатів</h1>
                    <br>
                    <table class="table table-striped js-deputies-table">
                        <thead>
                            <tr>
                                <td colspan="2"></td>
                                <td>
                                    <div class="form-group has-feedback has-feedback-left">
                                        <input type = "text" ng-model="searchText" class="form-control" placeholder="Прізвище, Місто або Тег"/>
                                        <i class="glyphicon glyphicon-search form-control-feedback" style="opacity: 0.5;"></i>
                                    </div>
                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="deputy in list| filter:searchText">
                                <td style="vertical-align: middle; width: 30px;">
                                    <a href="{{deputy.facebook}}" target="_blank" ng-if="deputy.facebook"><img src="img/facebook.png"></a>
                                </td>
                                <td style="height: 84px; width: 60px;">
                                    <img src="img/pixel.png" vvkp-src="{{deputy.picture}}" style="width: 50px;" />
                                </td>
                                <td style="vertical-align: middle; width: 400px;">
                                    <a href="{{deputy.url|| '#'}}" target="_blank"><b>{{deputy.name}}</b></a>
                                    <table class="deputy-info">
                                        <tr ng-if="deputy.residence">
                                            <td><span class="glyphicon glyphicon-map-marker"></span></td>
                                            <td><small>{{deputy.residence}}</small></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: middle; width: 200px;">
                                    <a href="{{tag.lawUrl}}" target="_blank" style="margin: 10px" ng-repeat="tag in deputy.tags">
                                        <span class="label label-{{tag.type}}" data-toggle="tooltip" data-placement="left" title="{{tag.lawName}}">{{tag.name}}
                                        </span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <hr>
                    <br>
                    <h3 style="background-image: url(img/logo.png); line-height: 60px; margin: 0; text-align: center;">
                        <a href="https://www.youtube.com/watch?v=1CLBANCVHTw" target="_blank" style="color: white; font-size: 42px; text-shadow: 2px 2px 4px black;">VVKP :-)</a>
                    </h3>
                </div>

                <div class="col-md-3" style="padding-top: 25px; text-align: center;">
                    <a class="github-button" href="https://github.com/uaoleg/vvkp.in.ua" data-style="mega" data-count-href="/uaoleg/vvkp.in.ua/stargazers" data-count-api="/repos/uaoleg/vvkp.in.ua#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star uaoleg/vvkp.in.ua on GitHub">Star</a>
                    <br><br>
                    <div class="fb-page" data-href="https://www.facebook.com/vvkp.in.ua" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/vvkp.in.ua"><a href="https://www.facebook.com/vvkp.in.ua">VVKP</a></blockquote></div></div>
                </div>

            </div>
        </div>

        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=576873339001045";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

        <script src="data/data.js"></script>
        <script src="js/app.js"></script>

        <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-64746354-1', 'auto');
                    ga('send', 'pageview');

        </script>
    </body>
</html>