<html>
    <head>
        <meta charset="utf-8" />
        <meta property="og:url" content="http://vvkp.in.ua/" />
        <meta property="og:image" content="http://vvkp.in.ua/img/rainbow.jpg" />
        <meta property="og:title" content="Всеукраїнський Вебсайт Контролю Політиків" />
        <meta property="og:description" content="" />
        <link rel="shortcut icon" href="img/icon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme-paper.min.css?vvkp-version-1.3.2">
        <link rel="stylesheet" href="css/bootstrap.css?vvkp-version-1.3.2">
        <link rel="stylesheet" href="css/deputies.css?vvkp-version-1.3.2">
        <link rel="stylesheet" href="css/styles.css?vvkp-version-1.3.2">
        <script defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>
        <script src="tools/js/pako.min.js"></script>
        <title>Всеукраїнський Вебсайт Контролю Політиків</title>
    </head>
    <body ng-app="vvkp-app" ng-controller="deputiesListCtrl">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <h1 style="font-size: 42px; text-align: center;">Універсальний передвиборчий каталог депутатів</h1>
                    <br>
                    <table class="table table-striped js-deputies-table">
                        <thead>
                            <tr>
                                <td colspan="5">
                                    <div class="form-group">
                                        <tags-input on-tag-added="searchReloadResults()"
                                                    on-tag-removed="searchReloadResults()"
                                                    replace-spaces-with-dashes="false"
                                                    add-on-comma="false"
                                                    display-property="name"
                                                    key-property="name"
                                                    ng-model="tags"
                                                    placeholder="Партія, Округ, Тег або Прізвище">
                                            <auto-complete
                                                source="searchLoadSuggestions($query)"
                                                min-length="0"
                                                load-on-focus="false"
                                                load-on-empty="false"
                                                select-first-match="true"
                                                max-results-to-show="100"
                                                template="template/app/search-suggestions.html"></auto-complete>
                                        </tags-input>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody style="{{filtering ? 'opacity: 0.5' : ''}}">
                            <tr>
                                <td colspan="5">
                                    <b style="display: inline-block; height: 28px; vertical-align: middle;">
                                        Знайдено депутатів: {{list.length}}
                                    </b>
                                    <button class="btn btn-default btn-xs"
                                            style="margin-left: 10px;"
                                            ng-if="searchStats.parties.length || searchStats.lawTags.length"
                                            popover-template="'template/app/search-stats.html'"
                                            popover-placement="bottom"
                                            popover-trigger="click"
                                    >
                                        <span class="glyphicon glyphicon-stats"></span>
                                        <b>Статистика</b>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat="deputy in list | filter:searchText">
                                <td style="height: 84px; text-align: center; vertical-align: middle; width: 60px;">
                                    <div class="img-deputy-{{deputy.id}}"></div>
                                    <img ng-src="img/parties/{{deputy.party}}.png"
                                         class="deputy-party fading"
                                         ng-if="deputy.party"
                                         ng-click="searchAddTag(deputy.party)">
                                </td>
                                <td>
                                    <h4 style="margin: 10px 0 0;">
                                        {{deputy.name}}
                                    </h4>
                                    <table class="deputy-info">
                                        <tr style="vertical-align: middle;">
                                            <td><span class="glyphicon glyphicon-globe" tooltip="Офіційна веб-сторінка" tooltip-placement="left" tooltip-popup-delay="1000"></span></td>
                                            <td>
                                                <a href="http://itd.rada.gov.ua/mps/info/page/{{deputy.id}}" target="_blank">
                                                    Верховна Рада</a><span ng-if="deputy.facebook">,</span>
                                                <img src="img/icon/facebook-16.png"
                                                     ng-if="deputy.facebook"
                                                     tooltip="Персональна веб-сторінка" tooltip-placement="left" tooltip-popup-delay="1000"
                                                     style="margin: -4px 0 0 5px; opacity: 0.4;">
                                                <a href="{{deputy.facebook}}" target="_blank" ng-if="deputy.facebook">
                                                    Facebook</a>
                                            </td>
                                        </tr>
                                        <tr ng-if="deputy.phones.length">
                                            <td><span class="glyphicon glyphicon-earphone" tooltip="Контактні телефони" tooltip-placement="left" tooltip-popup-delay="1000"></span></td>
                                            <td>
                                                <small ng-repeat="phone in deputy.phones">{{deputy.phones[0]}}{{$last ? '' : ', '}}</small>
                                            </td>
                                        </tr>
                                        <tr ng-if="deputy.district">
                                            <td><span class="glyphicon glyphicon-check" tooltip="Виборчий округ" tooltip-placement="left" tooltip-popup-delay="1000"></span></td>
                                            <td><small>Округ №{{deputy.district.id}}, {{deputy.district.region}}</small></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="text-align: right; vertical-align: middle;">
                                    <div ng-repeat="lawTagName in deputy.lawTags"
                                         ng-init="lawTag = getLawTag(lawTagName)"
                                         ng-click="searchAddTag(lawTag.name)"
                                         tooltip="{{lawTag.lawName}} {{lawTag.lawId}}"
                                         tooltip-placement="left"
                                         tooltip-trigger="mouseenter"
                                         tooltip-popup-delay="1000"
                                         class="deputy-tag progress progress-text-centered"
                                         style="font-weight: bold; height: 19px; margin: 0 0 10px;">
                                        <div role="progressbar" aria-valuenow="{{deputy.lawTagsRate[lawTag.name]}}" aria-valuemin="0" aria-valuemax="100"
                                             class="progress-bar progress-bar-{{lawTag.type}}"
                                             style="width: {{deputy.lawTagsRate[lawTag.name]}}%;">
                                            <span>{{lawTag.name}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <hr>
                    <br>
                    <h3 style="background-image: url(img/logo.png); line-height: 60px; margin: 0; text-align: center;">
                        <a href="https://www.youtube.com/watch?v=1CLBANCVHTw" target="_blank" style="color: white; font-size: 42px; text-shadow: 2px 2px 4px black;">VVKP :-)</a>
                    </h3>
                </div>

                <div class="col-md-3" style="padding-top: 25px; text-align: center;">
                    <a class="github-button" href="https://github.com/uaoleg/vvkp.in.ua" data-style="mega" data-count-href="/uaoleg/vvkp.in.ua/stargazers" data-count-api="/repos/uaoleg/vvkp.in.ua#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star uaoleg/vvkp.in.ua on GitHub">Star</a>
                    <br><br>
                    <div class="fb-page" data-href="https://www.facebook.com/vvkp.in.ua" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/vvkp.in.ua"><a href="https://www.facebook.com/vvkp.in.ua">VVKP</a></blockquote></div></div>
                </div>

            </div>
        </div>

        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=576873339001045";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

        <script src="js/app.js?vvkp-version-1.3.2"></script>

        <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-64746354-1', 'auto');
                    ga('send', 'pageview');

        </script>
    </body>
</html>