<div>
    <div ng-repeat="party in searchStats.parties"
        ng-click="searchAddTag(party.name)"
        class="col-lg-2 col-md-2 col-sm-4 col-xs-4"
        style="border-radius: 2px; cursor: pointer; {{party.name == searchStats.selectedParty ? 'box-shadow: 1px 1px 4px gray;' : ''}}">
            <img ng-src="img/parties/100x35/{{party.name}}.png" class="deputy-party">
            <progress max="party.total" style="margin: 10px 0; opacity: 0.5;">
                <bar value="party.count.success" type="success"></bar>
                <bar value="party.count.danger" type="danger"></bar>
            </progress>
    </div>
    <div class="clearfix"></div>
</div>
