<div ng-if="data.type == 'law-tag'">
    <span class="label label-{{data.lawTagType}}" style="display: block; margin-top: 10px; width: 100px;">{{data.name}}</span>
</div>
<div ng-if="data.type == 'party'">
    <img ng-src="img/parties/100x35/{{data.name}}.png" class="deputy-party" style="margin: 10px 0;">
</div>
<div ng-if="data.type == 'deputy-name'">
    <table><tr>
        <td>
            <div class="img-deputy-{{data.deputyId}}"></div>
        </td>
        <td style="padding: 0 0 0 10px;">
            {{data.name}}
            <div ng-if="data.dateAuthorityStop" class="text-warning" style="margin-top: 5px; font-size: 14px;">
                <span class="glyphicon glyphicon-time"></span>
                {{data.dateAuthorityStop}}
            </div>
        </td>
        </tr></table>
</div>
<div ng-if="data.type == 'district'">
    {{data.name}}
</div>