<table>
    <tr style="vertical-align: top;">

        <td ng-if="searchStats.parties.length">
            <table class="table table-hover table-no-border">
                <tr ng-repeat="party in searchStats.parties" ng-click="searchAddTag(party.name)" style="cursor: pointer;">
                    <td style="height: 57px;">
                        <img ng-src="img/parties/{{party.name}}.png" class="deputy-party">
                        <progress max="party.total" style="margin: 10px 0 0;">
                            <bar value="party.count.good" type="success"></bar>
                            <bar value="party.count.bad" type="danger"></bar>
                        </progress>
                    </td>
                    <td style="padding: 10px 10px 10px 30px; vertical-align: middle;">
                        {{party.count}}, {{party.total}}
                    </td>
                </tr>
            </table>
        </td>

        <td ng-if="searchStats.parties.length && searchStats.lawTags.length" style="padding: 10px; border-right: 1px solid #ccc;"></td>
        <td ng-if="searchStats.parties.length && searchStats.lawTags.length" style="padding: 10px;"></td>

        <td ng-if="searchStats.lawTags.length">
            <table class="table table-hover table-no-border">
                <tr ng-repeat="statsLawTag in searchStats.lawTags"
                    ng-init="lawTag1 = getLawTag(statsLawTag.name); lawTag2 = getLawTag(lawTag1.opposite); laws1 = getLaws(lawTag1.name); laws2 = getLaws(lawTag2.name)">
                    <td style="height: 57px;">
                        <progress style="height: 24px; margin: 10px 0 0; width: 200px;">
                            <bar value="statsLawTag.percent1" type="{{lawTag1.type}}"
                                 ng-click="searchAddTag(lawTag1.name)"
                                 tooltip="{{laws1[0].desc}}"
                                 tooltip-placement="top"
                                 tooltip-popup-delay="500"
                                 tooltip-append-to-body="true"
                                 style="cursor: pointer; padding: 0 10px; text-align: left;">
                                <span><b>{{lawTag1.name}}</b></span>
                            </bar>
                            <bar value="statsLawTag.percent2" type="{{lawTag2.type}}"
                                 ng-click="searchAddTag(lawTag2.name)"
                                 tooltip="{{laws2[0].desc}}"
                                 tooltip-placement="top"
                                 tooltip-popup-delay="500"
                                 tooltip-append-to-body="true"
                                 style="cursor: pointer;"></bar>
                        </progress>
                    </td>
                    <td style="padding: 10px 10px 10px 30px; vertical-align: middle;">
                        <b class="pull-right">{{statsLawTag.count}}</b>
                    </td>
                </tr>
            </table>
        </td>

        <td ng-if="searchStats.lawTagsForParty || searchStats.partiesForTag" style="padding: 10px; border-right: 1px solid #ccc;"></td>
        <td ng-if="searchStats.lawTagsForParty || searchStats.partiesForTag" style="padding: 10px;"></td>

        <td ng-if="searchStats.lawTagsForParty" style="max-width: 250px; text-align: center; vertical-align: middle; width: 150px;">
            <div ng-click="searchNextParty(searchStats.lawTagsForParty, -1); $event.stopPropagation();" style="cursor: pointer; margin-bottom: 15px;">
                <span class="glyphicon glyphicon-menu-up"></span>
            </div>
            <div>
                <img ng-src="../../img/parties/{{searchStats.lawTagsForParty}}.png" class="deputy-party" style="cursor: default;">
            </div>
            <div ng-click="searchNextParty(searchStats.lawTagsForParty); $event.stopPropagation();" style="cursor: pointer; margin-top: 20px;">
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
        </td>

        <td ng-if="searchStats.partiesForTag" style="max-width: 250px;">
            <div ng-repeat="(key, tag) in searchTags" ng-init="laws = getLaws(tag.name)">
                <p ng-repeat="law in laws">
                    {{law.desc}}
                    <span ng-if="law.url">
                        (<a href="{{law.url}}" target="_blank">{{law.no || 'деталі'}}</a>)
                    </span>
                </p>
            </div>
        </td>

    </tr>
</table>
