<div ng-if="searchStats.parties.length && !searchStats.lawTags.length">
    <div ng-repeat="party in searchStats.parties"
        ng-click="searchAddTag(party.name)"
        class="col-lg-2 col-md-2 col-sm-4 col-xs-4"
        style="cursor: pointer;">
            <img ng-src="img/parties/100x35/{{party.name}}.png" class="deputy-party">
            <progress max="party.total" style="margin: 10px 0 0; opacity: 0.5;">
                <bar value="party.count.success" type="success"></bar>
                <bar value="party.count.danger" type="danger"></bar>
            </progress>
    </div>
    <div class="clearfix"></div>
</div>

<div ng-if="searchStats.lawTags.length">
    <div ng-repeat="statsLawTag in searchStats.lawTags"
        ng-init="lawTag1 = getLawTag(statsLawTag.name); lawTag2 = getLawTag(lawTag1.opposite)"
        class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="btn-group search-stats__law-tag">
            <button type="button"
                    ng-click="searchAddTag(lawTag1.name)"
                    tooltip="{{lawTag1.desc}}"
                    tooltip-placement="top"
                    tooltip-popup-delay="500"
                    tooltip-append-to-body="true"
                    class="btn btn-sm btn-{{statsLawTag.types[0]}}"
                    style="width: {{statsLawTag.count[statsLawTag.types[0]]/statsLawTag.total*100}}%;">
                {{lawTag1.name}}
            </button>
            <button type="button"
                    ng-click="searchAddTag(lawTag2.name)"
                    tooltip="{{lawTag2.desc}}"
                    tooltip-placement="top"
                    tooltip-popup-delay="500"
                    tooltip-append-to-body="true"
                    class="btn btn-sm btn-{{statsLawTag.types[1]}}"
                    style="padding-left: 0; width: {{statsLawTag.count[statsLawTag.types[1]]/statsLawTag.total*100}}%;">
                &nbsp;
            </button>
            <button type="button"
                    class="btn btn-sm btn-default"
                    style="padding-left: 0; width: {{(statsLawTag.total-statsLawTag.count[statsLawTag.types[0]]-statsLawTag.count[statsLawTag.types[1]])/statsLawTag.total*100}}%;">
                &nbsp;
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>