<table><tr>
<td class="deputy-item__photo">
    <div ng-click="deputyPage(deputy)"
         class="img-deputy-{{deputy.id}}"
         style="cursor: pointer;"></div>
    <img ng-src="img/parties/100x35/{{deputy.party}}.png"
         class="deputy-party fading"
         ng-if="deputy.party"
         ng-click="searchAddTag(deputy.party)">
    <div ng-if="deputy.district">
        <small>Округ №{{deputy.district.id}}, {{deputy.district.region}}</small>
    </div>
</td>
<td style="vertical-align: top;">
    <h4 style="display: inline-block; margin: 10px 0 0;">
        {{getDeputyLastName(deputy)}}
        <br>
        <small>{{getDeputyFirstName(deputy)}}</small>
    </h4>
    <div class="deputy-info">
        <a href="http://itd.rada.gov.ua/mps/info/page/{{deputy.id}}" target="_blank">
            <span class="glyphicon glyphicon-globe" tooltip="Офіційна веб-сторінка"></span></a>
        <a href="{{deputy.facebook}}" target="_blank" ng-if="deputy.facebook">
            <img src="img/icon/facebook-16.png"
             ng-if="deputy.facebook"
             tooltip="Персональна веб-сторінка"
             style="margin: -4px 0 0 5px; opacity: 0.4;"></a>
    </div>
    <table class="deputy-info">
        <tr ng-if="deputy.dateAuthorityStop" class="text-warning" style="vertical-align: middle;">
            <td><span class="glyphicon glyphicon-time" tooltip="Припинено депутатські повноваження" tooltip-placement="left" tooltip-popup-delay="1000"></span></td>
            <td class="text-warning">
                {{date(deputy.dateAuthorityStop, 'Y-m-d')}}
            </td>
        </tr>
        <tr ng-if="deputy.phones.length">
            <td><span class="glyphicon glyphicon-earphone" tooltip="Контактні телефони" tooltip-placement="left" tooltip-popup-delay="1000"></span></td>
            <td>
                <small ng-repeat="phone in deputy.phones">{{deputy.phones[0]}}{{$last ? '' : ', '}}</small>
            </td>
        </tr>
    </table>
</td>
</tr></table>

<div>
    <div ng-repeat="lawTagName in deputy.lawTags"
         ng-if="isDeputyLawTagRateBigger(deputy, lawTagName)"
         ng-init="lawTag = getLawTag(lawTagName)">
        <table style="width: 100%"><tr>
            <td style="padding: 0 10px 8px 0;">
                <div class="deputy-tag-about">
                    <span popover-template="'template/deputy/tag-about.html?vvkp-version-1.7.1'"
                          popover-placement="top"
                          popover-trigger="click"
                          class="glyphicon glyphicon-info-sign fading"
                          style="cursor: pointer;"></span>
                </div>
            </td>
            <td>
                <div class="pull-right">{{lawTag.opposite}}</div>
                <div class="pull-left">{{lawTag.name}}</div>
                <div class="clearfix"></div>
                <div ng-click="searchAddTag(lawTag.name)" class="deputy-tag progress">
                    <div role="progressbar" aria-valuenow="{{deputy.lawTagsInfo[lawTag.name].rate}}" aria-valuemin="0" aria-valuemax="100"
                         class="progress-bar progress-bar-success"
                         style="width: {{lawTag.type == 'success' ? deputy.lawTagsInfo[lawTag.name].rate : 100-deputy.lawTagsInfo[lawTag.name].rate}}%;">
                    </div>
                    <div role="progressbar" aria-valuenow="{{100-deputy.lawTagsInfo[lawTag.name].rate}}" aria-valuemin="0" aria-valuemax="100"
                         class="progress-bar progress-bar-danger"
                         style="width: {{lawTag.type == 'danger' ? deputy.lawTagsInfo[lawTag.name].rate : 100-deputy.lawTagsInfo[lawTag.name].rate}}%;">
                    </div>
                </div>
            </td>
        </tr></table>
    </div>
</div>
