<div ng-if="$index > 2" class="visible-lg"><hr class="deputy-item__fancy-line"></div>
<div ng-if="$index > 1" class="visible-md"><hr class="deputy-item__fancy-line"></div>
<div ng-if="$index > 0" class="visible-sm"><hr class="deputy-item__fancy-line"></div>
<div ng-if="$index > 0" class="visible-xs"><hr class="deputy-item__fancy-line"></div>

<table style="width: 100%;"><tr>
<td class="deputy-item__photo">
    <div ng-click="deputy.lawTagName = ''; deputyPage(deputy)"
         class="img-deputy-{{deputy.id}}"
         style="cursor: pointer;"></div>
        <img ng-src="img/parties/100x35/{{deputy.party}}.png"
             class="deputy-party fading"
             ng-if="deputy.party"
             ng-click="searchAddTag(deputy.party)">
    <div ng-if="!deputy.party" style="height: 40px;"></div>
</td>
<td style="vertical-align: top;">
    <h4 class="deputy-item__name">
        {{getDeputyLastName(deputy)}}
        <br>
        <small>{{getDeputyFirstName(deputy)}}</small>
    </h4>
    <table class="deputy-item__info">
        <tr ng-if="deputy.dateAuthorityStop" class="text-warning" style="vertical-align: middle;">
            <td><span class="glyphicon glyphicon-time" tooltip="Припинено депутатські повноваження" tooltip-placement="left" tooltip-popup-delay="1000"></span></td>
            <td class="text-warning">
                {{date(deputy.dateAuthorityStop, 'Y-m-d')}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://itd.rada.gov.ua/mps/info/page/{{deputy.id}}" target="_blank">
                    <span class="glyphicon glyphicon-globe" tooltip="Офіційна веб-сторінка"></span></a>
            </td>
            <td ng-if="deputy.phones.length" style="padding-left: 8px;">
                <span
                    tooltip="{{deputy.phones.join(', ')}}"
                    class="glyphicon glyphicon-earphone"></span>
            </td>
            <td ng-if="deputy.facebook" style="padding: 2px 0px 5px 2px;">
                <a href="{{deputy.facebook}}" target="_blank" ng-if="deputy.facebook">
                    <img ng-src="img/icon/facebook-32.png"
                         tooltip="Персональна веб-сторінка"
                         style="opacity: 0.3"></a>
            </td>
            <td ng-if="deputy.district">
                <span
                    tooltip="Округ №{{deputy.district.id}}, {{deputy.district.region}}"
                    style="cursor: default; padding: 2px 6px 1px;">
                    <small><span class="glyphicon glyphicon-check"></span> {{deputy.district.id}}</small>
                </span>
            </td>
        </tr>
    </table>
</td>
</tr></table>

<table class="deputy-item__law-tags">
    <tr ng-repeat="lawTagName in deputy.lawTags"
        ng-if="isDeputyLawTagRateBigger(deputy, lawTagName)"
        ng-init="lawTag = getLawTag(lawTagName); lawTagGood = lawTag.type == 'success' ? lawTag.name : lawTag.opposite; lawTagBad = lawTag.type == 'success' ? lawTag.opposite : lawTag.name"
        class="deputy-item__law-tag">
        <td>
            <span
                ng-click="searchAddTag(lawTagGood)"
                class="text-{{lawTag.type == 'success' ? 'success' : 'muted'}}"
                style="cursor: pointer; font-weight: {{lawTag.type == 'success' ? 'bold' : 'normal'}}">
                {{lawTagGood}}
            </span>
        </td>
        <td tooltip="Голосування депутата"
            tooltip-popup-delay="1000"
            tooltip-append-to-body="true"
            ng-click="deputy.lawTagName = lawTagName; deputyPage(deputy)"
            class="fading"
            style="cursor: pointer;">
            <progress-arc
                complete="(lawTag.type == 'success' ? deputy.lawTagsInfo[lawTag.name].rate : 100-deputy.lawTagsInfo[lawTag.name].rate) / 100"
                size="30"
                background="rgb(229, 28, 35)"
                stroke="rgb(76, 175, 80)"
                stroke-width="15"
                stroke-width-bg="3"
            ></progress-arc>
        </td>
        <td>
            <span
                ng-href ng-click="searchAddTag(lawTagBad)"
                class="text-{{lawTag.type == 'success' ? 'muted' : 'danger'}}"
                style="cursor: pointer; font-weight: {{lawTag.type == 'success' ? 'normal' : 'bold'}}">
                {{lawTagBad}}
            </span>
        </td>
    </tr>
</table>
