<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deputy.modalInstance.dismiss('cancel')">×</button>
    <table><tr>
        <td style="padding-right: 20px;">
            <img ng-src="img/deputies/origin/{{deputy.id}}.jpg"
                 style="border-radius: 4px; box-shadow: 1px 1px 1px #999;">
        </td>
        <td style="vertical-align: top;">
            <h3 class="modal-title" style="line-height: 1;">{{deputy.name}}</h3>
            <table class="deputy-info">
                <tr ng-if="deputy.party" style="vertical-align: middle;">
                    <td style="width: 30px;">
                        <img ng-src="img/icon/party-16.png" tooltip="Партія" tooltip-placement="left" style="opacity: 0.4">
                    </td>
                    <td>
                        <img ng-src="img/parties/100x35/{{deputy.party}}.png" class="deputy-party" style="cursor: default; margin: 0;">
                    </td>
                </tr>
                <tr ng-if="deputy.dateAuthorityStop" class="text-warning" style="vertical-align: middle;">
                    <td>
                        <span class="glyphicon glyphicon-time" tooltip="Припинено депутатські повноваження" tooltip-placement="left"></span>
                    </td>
                    <td>
                        {{date(deputy.dateAuthorityStop, 'Y-m-d')}}
                    </td>
                </tr>
                <tr style="vertical-align: middle;">
                    <td>
                        <span class="glyphicon glyphicon-globe" tooltip="Офіційна веб-сторінка" tooltip-placement="left"></span>
                    </td>
                    <td>
                        <a href="http://itd.rada.gov.ua/mps/info/page/{{deputy.id}}" target="_blank">Верховна Рада</a>
                    </td>
                </tr>
                <tr ng-if="deputy.facebook" style="vertical-align: middle;">
                    <td>
                        <img ng-src="img/icon/facebook-16.png" tooltip="Персональна веб-сторінка" tooltip-placement="left" style="opacity: 0.4">
                    </td>
                    <td>
                        <a href="{{deputy.facebook}}" target="_blank" ng-if="deputy.facebook">Facebook</a>
                    </td>
                </tr>
                <tr ng-if="deputy.phones.length">
                    <td><span class="glyphicon glyphicon-earphone" tooltip="Контактні телефони" tooltip-placement="left"></span></td>
                    <td>
                        <small ng-repeat="phone in deputy.phones">{{deputy.phones[0]}}{{$last ? '' : ', '}}</small>
                    </td>
                </tr>
                <tr ng-if="deputy.district">
                    <td><span class="glyphicon glyphicon-check" tooltip="Виборчий округ" tooltip-placement="left"></span></td>
                    <td><small>Округ №{{deputy.district.id}}, {{deputy.district.region}}</small></td>
                </tr>
                <tr ng-if="deputy.residence">
                    <td><span class="glyphicon glyphicon-map-marker" tooltip="Місце проживання" tooltip-placement="left"></span></td>
                    <td><small>{{deputy.residence}}</small></td>
                </tr>
            </table>
        </td>
    </tr></table>
</div>
<div class="modal-body">
    <table class="table">
        <tr ng-repeat="lawTagName in deputy.lawTags"
            ng-if="isDeputyLawTagRateBigger(deputy, lawTagName)"
            ng-show="!deputy.lawTagName || deputy.lawTagName && deputy.lawTagName == lawTagName"
            ng-init="lawTag = getLawTag(lawTagName); laws = getDeputyLaws(deputy, lawTagName)">
            <td>
                <p ng-repeat="law in laws"
                   style="font-size: 14px; line-height: 18px;">
                    <b class="text-{{getDeputyLawStatus(deputy, law)}}">
                        {{law.desc}}
                        <span ng-if="law.id === 'відвідуваність'">
                            ({{deputy.lawTagsInfo[law.tagYes].laws.indexOf(law.id) > -1 ? deputy.lawTagsInfo[law.tagYes].rate : deputy.lawTagsInfo[law.tagNo].rate}}%)
                        </span>
                    </b>
                    /
                    <i>{{law.name}}</i>
                    <span ng-if="law.url">
                        / <a href="{{law.url}}" target="_blank">{{law.no || 'деталі'}}</a>
                    </span>
                </p>
            </td>
            <td style="width: 200px;">
                <progress>
                    <bar value="lawTag.type == 'success' ? deputy.lawTagsInfo[lawTag.name].rate : 100-deputy.lawTagsInfo[lawTag.name].rate" type="success"></bar>
                    <bar value="lawTag.type == 'danger' ? deputy.lawTagsInfo[lawTag.name].rate : 100-deputy.lawTagsInfo[lawTag.name].rate" type="danger"></bar>
                </progress>
                <div class="progress-title">{{lawTag.name}}</div>
            </td>
        </tr>
    </table>
<!--    <div id="deputy-page-comments" class="clearfix"></div>-->
</div>
<button ng-show="deputy.lawTagName" ng-click="deputy.lawTagName = ''"
        class="btn btn-default btn-lg btn-block"
        style="margin: 0 auto; width: 50%;">
    Всі закони
</button>
<div class="modal-footer">
</div>
