<div ng-init="laws = getDeputyLaws(deputy, lawTag.name)" style="max-height: 300px; overflow-y: auto; ">
    <p ng-repeat="law in laws" style="font-size: 14px; line-height: 18px;">
        <b class="text-{{getDeputyLawStatus(deputy, law)}}">
            {{law.desc}}
            <span ng-if="law.id === 'відвідуваність'">
                ({{deputy.lawTagsInfo[law.tagYes].laws.indexOf(law.id) > -1 ? deputy.lawTagsInfo[law.tagYes].rate : deputy.lawTagsInfo[law.tagNo].rate}}%)
            </span>
        </b>
        /
        <i>{{law.name}}</i>
        <span ng-if="law.url">
            / <a href="{{law.url}}" target="_blank">{{law.no || 'деталі'}}</a>
        </span>
    </p>
</div>