<table>
    <tr style="vertical-align: top;">

        <td ng-if="searchStats.parties.length">
            <table class="table table-hover table-no-border">
                <tr ng-repeat="party in searchStats.parties" ng-click="addSearchTag(party.name)" style="cursor: pointer;">
                    <td style="height: 57px;">
                        <img ng-src="img/parties/{{party.name}}.png" class="deputy-party">
                        <progressbar ng-if="searchStats.partiesForTag && tags.length === 1"
                                     value="party.count"
                                     max="party.total"
                                     type="{{getLawTag(searchStats.partiesForTag).type}}"
                                     style="margin: 10px 0 0;"></progressbar>
                    </td>
                    <td style="padding: 10px 10px 10px 30px; vertical-align: middle;">
                        <b class="pull-right">{{party.count}}</b>
                    </td>
                </tr>
            </table>
        </td>

        <td ng-if="searchStats.parties.length && searchStats.lawTags.length" style="padding: 10px; border-right: 1px solid #ccc;"></td>
        <td ng-if="searchStats.parties.length && searchStats.lawTags.length" style="padding: 10px;"></td>

        <td ng-if="searchStats.lawTags.length">
            <table class="table table-hover table-no-border">
                <tr ng-repeat="statsLawTag in searchStats.lawTags"
                    ng-init="lawTag1 = getLawTag(statsLawTag.name); lawTag2 = getLawTag(lawTag1.opposite)"
                    ng-click="addSearchTag(statsLawTag.name)"
                    tooltip="{{lawTag1.lawName}}"
                    tooltip-placement="top"
                    tooltip-popup-delay="1000"
                    style="cursor: pointer;">
                    <td style="height: 57px;">
                        <progress style="height: 24px; margin: 10px 0 0; width: 200px;">
                            <bar value="statsLawTag.percent1" type="{{lawTag1.type}}"
                                 style="padding: 0 10px; text-align: left; ">
                                <span><b>{{lawTag1.name}}</b></span>
                            </bar>
                            <bar value="statsLawTag.percent2" type="{{lawTag2.type}}"></bar>
                        </progress>
                    </td>
                    <td style="padding: 10px 10px 10px 30px; vertical-align: middle;">
                        <b class="pull-right">{{statsLawTag.count}}</b>
                    </td>
                </tr>
            </table>
        </td>

        <td ng-if="searchStats.lawTagsForParty || searchStats.partiesForTag" style="padding: 10px; border-right: 1px solid #ccc;"></td>
        <td ng-if="searchStats.lawTagsForParty || searchStats.partiesForTag" style="padding: 10px;"></td>

        <td ng-if="searchStats.lawTagsForParty || searchStats.partiesForTag" style="max-width: 250px;">
            <div ng-if="searchStats.lawTagsForParty">
                <img ng-src="../../img/parties/{{searchStats.lawTagsForParty}}.png" class="deputy-party" style="cursor: default;">
            </div>
            <p ng-repeat="(key, tag) in tags" ng-init="lawTag = getLawTag(tag.name)" ng-if="getLawTag(tag.name)">
                {{lawTag.lawName}}
                (<a href="{{lawTag.lawUrl}}" target="_blank">{{lawTag.lawId}}</a>)
            </p>
        </td>

    </tr>
</table>
